:root {
    /* COLORS */
    --green: #649d66;
    --blue: #035aa6;
    --purple: #95389e;
    --gold: #f4a548;
    --brown: #9c5518;
    --mauve: #ea7ad7;
    --pink: #efb1ff; 
    --empty: lightgray;
    --tealGame : rgb(7, 179, 179);
    --hint-black: #242424;
    --hint-white: whitesmoke;
    --hint-empty: lightgray;
    --light-gray: lightslategray;
}

html {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

body {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

h1 {
    text-align: center;
}

.container-game {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* GENERAL */

.container-choice-pc {
    border: 3px solid var(--light-gray);
}

.container-choices-player {
    border-left: 3px solid var(--light-gray);
    border-right: 3px solid var(--light-gray);
}

.container-choices-player, .container-choice-pc {
    padding: 1.5rem;
}

.container-player-attempt, .container-choice-pc {
    display: flex;
}

.container-choices-player, .hints {
    background: darkgrey;
}

.colors-pc .pion {
    position: relative;
    z-index: -1;
}

.container-choice-pc {
    background: var(--tealGame);
    position: relative;
}

.sail-pc-choice {
    z-index: 2;
}

.pion {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
    border: 1px solid grey;
    background: var(--empty);
    cursor: pointer;
}

.pion.return {
    display: flex;
    justify-content: center;
    align-items: center;
}

.undo-ico {
    width: 50%;
    height: auto;
}

.choose-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.8rem;
    background: var(--tealGame);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.choose-color .pion {
    margin: 0.8rem 2.5rem;
    cursor: pointer;
}

.hints {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.no-interact {
    pointer-events: none;
}

/* PAWNS - GENERAL */

.pion.green {
    background: var(--green);
}

.pion.blue {
    background: var(--blue);
}

.pion.purple {
    background: var(--purple);
}

.pion.gold {
    background: var(--gold);
}

.pion.brown {
    background: var(--brown);
}

.pion.mauve {
    background: var(--mauve);
}

.pion.pink {
    background: var(--pink);
}

/* PC SIDE */

.container-choices-pc {
    width: 30%;
    border-bottom-right-radius: 12px;
}

.colors-pc {
    margin: auto;
    display: flex;
}


/* PLAYER SIDE */

.container-player-attempt  {
    margin: 1rem;
}


/* HINTS SIDE */

.hints {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2.5rem;
}

.container-hint {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HINTS - GENERAL */

.hint {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.1rem;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: var(--hint-empty);
}







