:root {

    /* COLORS */

    --green: #649d66;
    --blue: #035aa6;
    --purple: #95389e;
    --gold: #f4a548;
    --brown: #9c5518;
    --mauve: #ea7ad7;
    --pink: #efb1ff; 
    --empty: lightgray;
}

html {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

body {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

h1 {
    text-align: center;
}

.container-game {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* GENERAL */

.container-choices-player, .container-choice-pc, .hints {
    border: 1px solid lightslategrey; 
}

.container-choices-player, .container-choice-pc {
    padding: 1.5rem;
}

.container-player-attempt, .container-choice-pc {
    display: flex;
}

.container-choice-pc, .container-choices-player, .hints {
    background: darkgrey;
}

.pion {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
    border: 1px solid grey;
    background: var(--empty);
}

.choose-color {
    padding-top: 0.8rem;
    background: rgb(7, 179, 179);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.choose-color .pion {
    margin: 1rem 2.5rem;
    cursor: pointer;
}

.hints {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* PAWNS TO PICK */

.choose-color > .pion.green {
    background: var(--green);
}

.choose-color > .pion.blue {
    background: var(--blue);
}

.choose-color > .pion.purple {
    background: var(--purple);
}

.choose-color > .pion.gold {
    background: var(--gold);
}

.choose-color > .pion.brown {
    background: var(--brown);
}

.choose-color > .pion.mauve {
    background: var(--mauve);
}

.choose-color > .pion.pink {
    background: var(--pink);
}

/* PC SIDE */

.container-choices-pc {
    width: 30%;
}

.colors-pc {
    margin: auto;
    display: flex;
}


/* PLAYER SIDE */

.container-player-attempt  {
    margin: 1rem;
}


/* HINTS SIDE */

.hints {
    width: 10%;
}

.container-hint {

}







