@charset 'UTF-8';
/* GENERAL */
:root {
    text-rendering: optimizeLegibility;
}

html {
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    background: beige;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* WRAPPER */

.wrapper-large {
    width: 85%;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
}

/* MOBILE */

/* GRID 1 COLUMN */ 

.main {
    display: grid;
    grid-template: 
                        "sell-house"
                        "new-construct"
                        "manage-house"
                        "invest-in-house"
                        "avoid-bad-surprise"
                        "house-spain";
    grid-column: 1;
    grid-template-columns: 100%;
    grid-template-rows: 31.25rem repeat(2, 62.5rem) repeat(2, 31.25rem) 62.5rem;
    grid-gap: 8px;
    padding: 5rem 0;
}

.main div {
    border: 1px solid #000;
    position: relative;
    background: skyblue;
}

.sell-house {
    grid-area: "sell-house";
}

.new-construct {
    grid-area: "new-construct";
}

.manage-house {
    grid-area: "manage-house";
}

.invest-in-house {
    grid-area: "invest-in-house";
}

.avoid-bad-surprise {
    grid-area: "avoid-bad-surprise" ;    
}

.house-spain {
    grid-area: "house-spain" ; 
}


/* MEDIA QUERIES */

@media screen and (min-width: 900px) {

    html {
        font-size: 16px;
        line-height: 1.4;
    }

    /* GRID 3 COLUMNS */

    .main {
        display: grid;
        grid-template: 
                            "sell-house new-construct new-construct"
                            "manage-house manage-house house-spain"
                            "invest-in-house avoid-bad-surprise house-spain";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 31.25rem);                    
    }

    .sell-house {
        grid-column: 1;
        grid-row: 1;
    }
       
    .new-construct {
        grid-column: span 2;
    }
    
    .manage-house {
        grid-column: span 2;
       
    }
    
    .house-spain {
        grid-column: 3;
        grid-row: row / 2; 
    }

}