@charset 'UTF-8';
/* GENERAL */
:root {
    text-rendering: optimizeLegibility;
}

html {
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    background: whitesmoke;
}

p {
    margin: 0;
    padding: 0;
}

.ico {
    width: 4rem;
    height: 4rem;
}


img {
    position: relative;
}

.sell-house__img, 
.new-construct__img, 
.manage-house__img,
.invest-in-house__img,
.avoid-bad-surprise__img {
    width: 100%;
    height: 31.25rem;
    object-fit: cover;
}

.house-spain__img {
    width: 100%;
    height: 62.5rem;
    object-fit: cover;
}

h1 {
    text-align: center;
}

.container___title {
    margin-top: 5rem;
}


/* WRAPPER */

.wrapper-large {
    width: 85%;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
}

/* MOBILE */

/* GRID 1 COLUMN */ 

.main {
    display: grid;
    grid-template: 
                        "sell-house"
                        "new-construct"
                        "manage-house"
                        "invest-in-house"
                        "avoid-bad-surprise"
                        "house-spain";
    grid-column: 1;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 31.25rem) 62.5rem;
    grid-gap: 14px;
    padding: 5rem 0;
}

.sell-house,
.new-construct,
.manage-house, 
.invest-in-house,
.avoid-bad-surprise,
.house-spain {
    position: relative;
}

.sell-house {
    grid-area: "sell-house";
}

.new-construct {
    grid-area: "new-construct";
}

.manage-house {
    grid-area: "manage-house";
}

.invest-in-house {
    grid-area: "invest-in-house";
}

.avoid-bad-surprise {
    grid-area: "avoid-bad-surprise" ;    
}

.house-spain {
    grid-area: "house-spain" ; 
}

/* SAILS */

.sail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.sell-house__sail,
.new-construct__sail,
.manage-house__sail, 
.invest-in-house__sail,
.avoid-bad-surprise__sail {
    width: 100%;
    height: 31.25rem;
    text-align: center;
}

.sell-house__sail {
    background: rgba(255, 255, 255, 0.85);
}

.new-construct__sail {
    width: 100%;
    height: 31.25rem;
    color:rgb(255, 255, 255);
    justify-content: flex-end;
    align-items: flex-start;
}

.new-construct__sail > .sail-content {
    position: relative;
    bottom: 2rem;
    left: 1.5rem;
    background: rgba(155, 155, 155, 0.5);
    padding: 0.3rem;
}

.manage-house__sail {
    background: rgba(255, 255, 255, 0.85);
}

.invest-in-house__sail {
    background: rgba(169,137,101, 0.85);
    color:rgb(255, 255, 255);
}

.avoid-bad-surprise__sail {
    background: rgba(255, 255, 255, 0.85);
}

.house-spain > .sail-content {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    color: white;
    background: rgba(155, 155, 155, 0.5);
}

.house-spain > .sail-content h2 {
    margin-top: 0;
    padding-top:0;
}


/* MEDIA QUERIES */

@media screen and (min-width: 900px) {

    html {
        font-size: 16px;
        line-height: 1.4;
    }

    /* GRID 3 COLUMNS */

    .main {
        display: grid;
        grid-template: 
                            "sell-house new-construct new-construct"
                            "manage-house manage-house house-spain"
                            "invest-in-house avoid-bad-surprise house-spain";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 31.25rem);                    
    }

    .sell-house {
        grid-column: 1;
        grid-row: 1;
    }
       
    .new-construct {
        grid-column: span 2;
    }
    
    .manage-house {
        grid-column: span 2;
        
    }
    
    .house-spain {
        grid-column: 3;
        grid-row: row / 2; 
    }

    .manage-house__sail {
        width: 24.25rem;
        height: 24.25rem;
        margin: 3.5rem 0 0 1.5rem;
    }
    
}